* {
    box-sizing: border-box;
}

:root {
    --box: #FFFFFF;
    --blue-white: #e0ebeb;
    --that-grey: #bbb;
    --green-pill: #2E6E5B;
    --pale-pill: #ECF4F1;
    --dark: #000000;
}

body {
    /*width: 90rem;
    height: 217rem;*/
    border: 1px;
    background-image: url("cd23f8b28866d711ecd55f7a1fe9e379146d9d6d.png");
    background-repeat: repeat;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
}

/* Header Section */

header {
    display: flex;
    width: 82.611875em;
    height: 18.75625em;
    /*padding: 20px;
    margin: 30px;*/
    border-radius: 24px;
    justify-self: center;
    margin-top: 4em;
}

.intro {
    /*display: inline-block;
    text-align: start;
    border-radius: 1.8em;
    padding-left: 1.5em;*/
    background-color: var(--box);
    border: 2px solid var(--box);
    width: 62.168125em;
    height: 18.75625em;
    border-radius: 1.815em;
    object-fit: cover;
    padding: 4.3125em 3.6875em;
    align-content: center;
    /*gap: 0.625em; (Figma had a gap/ spacing unit, tried it but it wasn't working with my layout) */
}

.Me {
    width: 18.75625em;
    height: 18.75625em;
    border-radius: 1.5em;
    object-fit: cover;
    /*margin-right: 2em;*/
    margin-right: 1.6875em; /* CALCULATIONS was how I reached this number */
}

/* CALCULATIONS: (Introduction) header width - .intro width - .Me width = space between pic and bio (1.6875) */

/*.intro > p {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
}*/

.my-name {
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

 /* Proficiency Section */
.Proficiency {
    background-color: var(--box);
    width: 35.24375em;
    height: 26.773125em;
    gap: 0.6em;
    /*border-radius: 24px;*/
    border-radius: 1.815em;
    margin-left: 20px;
    /*padding-left: 30px;
    padding-top: 30px;*/
    padding: 1.75em 2.5625em;
    margin: 30px;                     /* Aligned margin to same, as in Skills */
}

.balance {
    display: flex;
    flex-direction: column;
}

.balance > ul {
      list-style-type: none;
}

.listed-up {
    display: flex;
    padding-top: 10px;
}

.line {
    border: 10px solid #2E6E5B;
    background: #2E6E5B;
    border-radius: 0.5em;
    margin: 2px;
}

.line-one {
    width: 100%;
}

.line-two {
    width: 75%;
}

.line-three {
    width: 35%;
}

.line-four {
    width: 55%;
}


 /* Skills Section*/
.Skills {
    background-color: var(--box);
    width: 44.125em;
    height: 26.8125em;
    border: 2px solid var(--box);
    /*padding: 20px;*/
    padding: 1.75em;
    margin: 30px;
    border-radius: 1.815em;
}


 /* Skills List */
.list {
    background-color: var(--pale-pill);
    color: var(--dark);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    margin: 0px;
    list-style-type: none;
    padding: 8px;
    width: 13em;
}

.pill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}

/* section-one for Proficiency and Skills */
.section-one {
    display: flex;
    justify-self: center;
}


/* Projects Section */
.Projects {
    background-color: var(--box);
    color: var(--dark);
    width: 82.38em;
    height: 47.193125em;
    border-radius: 1.815em;
    justify-self: center;
}

.projected > * {flex: 1;}

.projected {
    display: flex;
    align-items: stretch;
    align-items: flex-end;
    margin-top: 70px;
}

.P {
    text-align: center;
    padding-top: 30px;
}

/* Portfolio */
.Portfolio {
    background-color: var(--green-pill);
    border: 2px solid var(--green-pill);
    color: var(--box);
    border-radius: 16px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80vh;
}

/* Podcast */
.Podcast {
    background-color: var(--pale-pill);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80vh;
}

/* Agile */
.Agile {
    background-color: var(--pale-pill);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80vh;
}

/* Super */
.Super {
    background-color: var(--pale-pill);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80vh;
}

 /* Education Section*/

.Education {
    width: 62.168125em;
    height: 54.62875em;
    color: var(--dark);
    background-color: var(--box);
    border-radius: 1.815em;
}

/* Education Blocks Section */
/* h2 for Education */
.ed {
    padding-top: 20px;
    padding-left: 20px;
    text-align: start;
}
/* Education Block One */
.Education-Block-One {
    background-color: var(--green-pill);
    border: 2px solid var(--green-pill);
    color: var(--box);
    border-radius: 16px;
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Education-Block-One-Left {
    display: inline-block;
}

.Education-Block-One-Right {
    display: inline-block;
}

/* Education Block Two*/
.Education-Block-Two {
    background-color: var(--pale-pill);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Education-Block-Two-Left {
    display: inline-block;
}

.Education-Block-Two-Right {
    display: inline-block;
}

/* Education Block Three*/
.Education-Block-Three {
    background-color: var(--pale-pill);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Education-Block-Three-Left {
    display: inline-block;
}

.Education-Block-Three-Right {
    display: inline-block;
}

/* Tools Section */
.Tools {
    width: 18.75625em;
    height: 54.62875em;
    border-radius: 1.815em;
    background-color: var(--box);
}

.tools-box {
    background-color: var(--pale-pill);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
}

.T {
    padding-top: 30px;
    text-align: center;
}

.tool-img {
    width: 5em;
    height: 5em;
    border-radius: 8px;
}

/* section-two for Education and Tools */
.section-two {
    display: flex;
    justify-self: center;
    margin-top: 3em;
}

/* Experience Section */

.Experience {
    width: 82.25em;
    height: 40em;
    border-radius: 1.815em;
    background-color: var(--box);
    justify-self: center;
    margin-top: 3em;
}

/* Experience Blocks Section */
/* h2 for Experience */
.ex {
    padding-top: 20px;
    padding-left: 20px;
    text-align: start;
}

/* Experience Block One */
.Experience-Block-One {
    background-color: var(--green-pill);
    border: 2px solid var(--green-pill);
    color: var(--box);
    border-radius: 16px;
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Experience-Block-One-Left {
    display: inline-block;
}

.Experience-Block-One-Right {
    display: inline-block;
}

/* Experience Block Two */
.Experience-Block-Two {
    background-color: var(--pale-pill);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Experience-Block-Two-Left {
    display: inline-block;
}

.Experience-Block-Two-Right {
    display: inline-block;
}

/* Experience Block Three */
.Experience-Block-Three {
    background-color: var(--pale-pill);
    border: 2px solid var(--pale-pill);
    border-radius: 16px;
    display: flex;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.Experience-Block-Three-Left {
    display: inline-block;
}

.Experience-Block-Three-Right {
    display: inline-block;
}

/* Experience Button*/
/*
button > * .Experience-Block-One-Right > .Experience-Block-One > ul.Experience {
    background-color: #D76239;
    color: white;
    border: #D76239;
    border-radius: 8px;
}
    */
/* So far it's no longer working, ever since I made my Skills buttons. So I Inline Styled my Experience button on my HTML */

footer {
    background-color: #D76239;
    width: 82.625em;
    height: 9.875em;
    border-radius: 1.815em;
    text-align: start;
    display: flex;   /* previously display: inline-block */
    flex-direction: column;  /* flex addition */
    /*padding-left: 30px;
    padding-bottom: 5px;*/
    padding: 1.815em;
    justify-self: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.message {
    color: var(--box);
}

.Contact {
    display: flex;
    flex-direction: row;
}

h4 {
    background-color: var(--dark);
    color: var(--box);
    border-radius: 8px;
    text-align: center;
}

.vertical-line {
    border-left: 2px solid var(--that-grey);
    height: 20px;
    display: inline-flex;
    margin: 0 10px;
}

.vertical-line-two {
    border-left: 2px solid var(--dark);
    height: 20px;
    display: inline-flex;
    margin: 0 10px;
}

.Contact {
    color: var(--that-grey);
}

/* End of my styling and editing */