:root {
    --box: #FFFFFF;
}

body {
    width: 90em;
    height: 217em;
    border: 1px;
}
img {
    width: 12em;
    height: 14em;
}

Introduction {
    display: flex;
    width: 82em;
    height: 19em;
    border-radius: 1.8em;
}

Proficiency {
    background-color: var(--box);
    width: 35em;
    height: 27em;
    gap: 0.6em;
}

Skills {
    width: 44em;
    height: 27em;
}

Projects {
    width: 82em;
    height: 47em;
}

Education {
    width: 62em;
    height: 53em;
}
Tools {
    width: 19em;
    height: 53em;
}
Experience {
    width: 82em;
    height: 40em;
}
Footer {
    background-color: #D76239;
    width: 83em;
    height: 10em;
}

Contact {
    display: flex;
    flex-direction: row;
}

h4 {
    background-color: black;
    color: var(--box);
    border-radius: 8px;
    text-align: center;
}

.tools-box {
    background-color: lightgray;
    border-radius: 8px;
}

.vertical-line {
    border-left: 2px solid #bbb;
    height: 20px;
    display: inline-flex;
    margin: 0 10px;
}